<!doctype html>
<html>
<head>
	<title>{{page_title}}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/latest/blaze.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/latest/base.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/latest/grid.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/blazecss/latest/buttons.css">
</head>
<body>
<div class="container container--medium">
hi
<div class="toasts toasts--topleft">
  <div class="toast">Default</div>
  <div class="toast toast--primary">Primary</div>
  <div class="toast toast--secondary">Secondary</div>
  <div class="toast toast--success">Success</div>
  <div class="toast toast--error">Error</div>
</div>
</div>
</body>
</html>